* {
	padding: 5px;
	margin: 5px;
	box-sizing:border-box;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
	background-color: aqua;
	overflow:scroll;
}

h1{
	text-align: center;
	margin: 10px;
	font-size:large;
	text-decoration:underline;
}

ul {
	text-align: left;
	padding-left: 10px;
	padding: 7px;
	font-size:medium;
	list-style-type: style;;
}

li:hover{
	color:red;
	margin: 20px;
	transition:ease-in-out;
	cursor:pointer;
}

